{% extends "base.html" %}
{% block content %}
    <div class="row marketing">

        <ol class="breadcrumb">
          <li><a href="/">Главная</a></li>
          {% if session.logged_in %}
            <li class="active"><a href="/new/book">Добавить книгу</a></li>
          {% endif %}
          <li class="active">Книги</li>
        </ol>
        {% for book in books %}
            <div id="book_{{ book.id }}" class="col-lg-6">
                <h3><a href="book/{{book.id}}">{{ book.title }}</a></h3>
                <p><b>Название:</b> {{ book.title }}</p>
                <p><b>Авторы:</b>
                    {% for author in book.authors %}
                        {{ author.name }}, 
                    {% endfor %}
                </p>
                <p><b>Аннотация:</b> {{ book.abstract }}</p>
                <p><b>ID:</b> {{ book.id }}</p>
            </div>
        {% endfor %}

    </div>
{% endblock %}